div#customer-name {
    
    font-size: small;
    color: white;
}
div#customer-name {
    font-size: x-small;
    color: #ff3300;
    text-transform: uppercase;
    font-family: system-ui;
    font-weight: inherit;
    margin: 12px 0px 0px 0px;
    border: 1px solid;
    display: inline-block;
    padding: 0px 1px;
}
    i.fa.fa-sign-in {
    width: auto;
}
    div#customerNameDisplay {
    text-align: center;
    color: limegreen;
    font-size: x-large;
}
    i.fa.fa-user , i.fa.fa-bars {
    display: flex;
    width: auto;
    flex-direction: column;
}
    
.loginForReBut {
    text-align: center;
    padding: 20px;
}
    
